@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: #333;
}

body {
  background-color: black;
  color: #c9c9c9;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
}

body p {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #2c3e50;
  margin: 50px 0;
  text-align: center;
}

.white {
  color: white;
}

/*
************ SPLASH PAGE ************ 
 */
div#gallery {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  display: block;
  width: 50%;
}

img.logo {
  margin: auto;
  display: block;
  width: 20%;
  /* margin-top: 25px; */
  margin-bottom: 25px;
}

#reel {
  margin: auto;
  display: block;
  width: 55%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#intro-text {
  margin-top: 50px;
  font-size: 28px;
  line-height: 44px;
}

#link-border {
  width: 300px;
}

#extension-link-container {
  /* margin-top: 5%; */
  margin-top: 50px;
  margin-bottom: 50px;
}

a#extension-link {
  color: #c9c9c9;
  text-decoration: none;
  /* padding: 10px; */
  /* font-size: 0.6em; */
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, 175%);
}

a#extension-link:hover {
  color: white;
}

/*
************ ABOUT ************ 
 */
#gif-container {
  width: 80%;
  text-align: center;
}

#splash-div {
  padding-top: 7vh;
}

#about-text {
  color: #c9c9c9;
  margin: auto;
  margin-top: 25px;
  display: block;
  text-align: left;
}

img.squiggle {
  margin: auto;
  display: block;
  width: 30%;
}

#about-text a {
  color: #c9c9c9;
  /* text-decoration: none; */
}

#about-text a:hover {
  color: white;
  /* text-decoration: none; */
}

#arrow {
  height: 85px;
  position: absolute;
  margin-top: -13px;
  margin-left: 500px;
  transform: rotate(53deg) scaleY(-1);
}

@media only screen and (min-width: 768px) {
  #arrow {
    height: 85px;
    position: absolute;
    margin-top: -13px;
    margin-left: 290px;
    transform: rotate(53deg) scaleY(-1);
  }
}

.screengrab {
  width: 100%;
  /* display: inline-block;
  float: left; */
  margin-bottom: 15px;
}

.home-glance {
  width: 31%;
  margin: 0px 2% 2% 0px;
  display: inline-block;
  float: left;
}

#covid-container {
  background-color: #ebff6b;
  color: black;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  line-height: 24px;
}

#covid-container a {
  color: black;
}

#covid-container a:hover {
  opacity: 0.5;
}


/*
************ GALLERY ************ 
 */
 .gallery-video-container {
  color: #c9c9c9;
  margin: auto;
  margin-top: 25px;
  display: block;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
 }

 .gallery-entry {
   width: 75%;
   margin: 25px auto;
   /* border: 1px solid; */
   display: block;
   padding: 5px;
  }

 .gallery-entry video {
   width: 90%;
 }

 .gallery-entry video:focus {
  outline: 1px solid;
 }

 .gallery-entry-name {
   margin: 15px;
 }